<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="demo">
            <input type="text" v-model="keyword"><br>
            <button @click="sortType = 1">按升序排列</button>
            <button @click="sortType = 2">按降序排列</button>
            <button @click="sortType = 3">按原序排列</button>

            <div v-for="item in newList" :key="item.id">
                {{ item.id }} -- {{ item.content }} -- {{ item.age }}
            </div>
        </div>
        <script>
            // 需求: 使用watch做列表的排序和过滤

            // 1. 先做过滤
            // 2. 在做排序
            new Vue({
                el:'#demo',
                data: {
                    sortType: 3, // 1 升序  2 降序  3 原序
                    keyword: '',
                    list: [
                        { id: 1010, content: 'gaoyuanyuan', age: 28 },
                        { id: 1020, content: 'yangmi', age: 22 },
                        { id: 1030, content: 'guodegang', age: 26 },
                        { id: 1040, content: 'yuqian', age: 18 },
                    ],
                    newList:[]
                },
                watch:{
                    keyword:{
                        handler(newValue,oldValue){
                            this.newList = this.list.filter(item=>item.content.includes(newValue))
                        },
                        immediate: true
                    },
                    sortType(newValue,oldValue){
                        if(newValue === 1){
                            this.newList.sort((a,b)=>{
                                return a.age - b.age
                            })
                        }else if(newValue === 2){
                            this.newList.sort((a,b)=>{
                                return b.age - a.age
                            })
                        }
                        else{
                            this.newList = this.list.filter(item=>item.content.includes(this.keyword))
                        }
                    }
                }
            })
        </script>
    </body>
</html>