<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="demo">
            <p>姓名: <input type="text" name="" v-model="name"></p>
            <p>密码: <input type="text" name="" v-model="password"></p>
            <p>性别: <input type="radio" value="男" v-model="sex">男
                     <input type="radio" value="女" v-model="sex">女</p>

            <p>
                城市:
                <select name="" v-model="city">
                    <option value="1">北京</option>
                    <option value="2">上海</option>
                    <option value="3">广州</option>
                </select>
            </p>

            <p>
                爱好:
                <input type="checkbox" name="" value="1" v-model="hobby">滑冰
                <input type="checkbox" name="" value="2" v-model="hobby">台球
                <input type="checkbox" name="" value="3" v-model="hobby">篮球
                <input type="checkbox" name="" value="4" v-model="hobby">跑步
            </p>
        </div>
        <script>
            new Vue({
                el:'#demo',
                data: {
                    name:'Lyb',
                    password:'Gcn',
                    sex:'男',
                    city:'2',
                    hobby:['1','2']
                }
            })
        </script>
    </body>
</html>